[init]
    defaultBranch = master
[core]
    pager = delta
[alias]
    co = checkout
    st = status
    di = diff
    dt = difftool -y
    dc = diff --cached
    ci = commit
    cm = commit -m
    br = branch
    sm = submodule
[help]
    autocorrect = 20
[interactive]
    diffFilter = delta --color-only
[color]
    ui = auto
[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
[delta]
    navigate = true
    light = false
    features = line-numbers decorations
    whitespace-error-style = 22 reverse
    relative-paths = true
    hyperlinks = true
    syntax-theme = Nord
[merge]
    conflictstyle = diff3
[diff]    
    colorMoved = default

