[init]
    defaultBranch = master
[core]
    pager = delta
[user]
    name = Naruto TAKAHASHI
    email = tnaruto@gmail.com
[alias]
    co = checkout
    ci = commit
    st = status
    br = branch
    sm = submodule
[interactive]
    diffFilter = delta --color-only
[color]
    ui = auto
[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
[delta]
    navigate = true
    light = false
    features = line-numbers decorations
    whitespace-error-style = 22 reverse
    relative-paths = true
    hyperlinks = true
[delta "interactive"]
    keep-plus-minus-markers = false
[delta "decorations"]
    commit-decoration-style = blue ol
    commit-style = raw
    file-style = omit
    hunk-header-decoration-style = blue box
    hunk-header-file-style = red
    hunk-header-line-number-style = "#067a00"
    hunk-header-style = file line-number syntax
