[submodule ".emacs.d/public_repos/ag.el"]
	path = .emacs.d/public_repos/ag.el
	url = https://github.com/Wilfred/ag.el
[submodule ".emacs.d/public_repos/egg"]
	path = .emacs.d/public_repos/egg
	url = https://github.com/bogolisk/egg.git
[submodule ".emacs.d/public_repos/yasnippet"]
	path = .emacs.d/public_repos/yasnippet
	url = https://github.com/capitaomorte/yasnippet.git
[submodule ".emacs.d/public_repos/auto-complete"]
	path = .emacs.d/public_repos/auto-complete
	url = https://github.com/auto-complete/auto-complete.git
[submodule ".emacs.d/public_repos/helm"]
	path = .emacs.d/public_repos/helm
	url = https://github.com/emacs-helm/helm.git
[submodule ".emacs.d/public_repos/helm-ag"]
	path = .emacs.d/public_repos/helm-ag
	url = https://github.com/syohex/emacs-helm-ag.git
[submodule ".emacs.d/public_repos/autopair"]
	path = .emacs.d/public_repos/autopair
	url = https://github.com/capitaomorte/autopair.git
[submodule ".emacs.d/public_repos/mark-multiple"]
	path = .emacs.d/public_repos/mark-multiple
	url = https://github.com/magnars/mark-multiple.el.git
